apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: immich
    namespace: cloud
spec:
    interval: 1h0m0s
    chart:
        spec:
            chart: immich
            sourceRef:
                kind: HelmRepository
                name: immich
    postRenderers:
        - kustomize:
            patches:
                - target:
                    kind: Deployment
                    labelSelector: app.kubernetes.io/name=server
                  patch: |-
                    - op: add
                      path: /spec/template/spec/volumes/-
                      value:
                        name: icloudpd-volume
                        persistentVolumeClaim:
                          claimName: icloudpd-volume
                    - op: add
                      path: /spec/template/spec/containers/0/volumeMounts/-
                      value:
                        name: icloudpd-volume
                        mountPath: /media/icloudpd
    values:
        controllers:
            main:
                containers:
                    main:
                        image:
                            tag: v2.3.1
                        env:
                            DB_HOSTNAME: immich-db-cluster-rw
                            DB_USERNAME: immich
                            DB_DATABASE_NAME: immich
                            DB_PASSWORD: ENC[AES256_GCM,data:YuaCome/0p+b2VNzfySJcIRCkO8=,iv:xKEMsvtyBfCh0GefWOuvDpiFPQohVldW0AT28xjKZxM=,tag:HmcQ+zj2unMlWBQhEiEH8A==,type:str]
                            IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
                            REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
        immich:
            metrics:
                enabled: false
            persistence:
                library:
                    existingClaim: cloud-storage
            configuration: {}
        valkey:
            enabled: true
        server:
            enabled: true
            ingress:
                main:
                    enabled: true
                    className: nginx
                    annotations:
                        cert-manager.io/cluster-issuer: letsencrypt-cloudflare
                        kubernetes.io/ingress.class: nginx
                        nginx.ingress.kubernetes.io/proxy-body-size: "0"
                    hosts:
                        - host: photos.cloud.fonzdm.xyz
                          paths:
                            - path: /
                    tls:
                        - hosts:
                            - photos.cloud.fonzdm.xyz
                          secretName: immich-ing-external-secret
        machine-learning:
            enabled: true
            persistence:
                cache:
                    enabled: true
                    size: 30Gi
                    type: persistentVolumeClaim
                    accessMode: ReadWriteMany
                    storageClass: nfs-client
sops:
    age:
        - recipient: age1fcyhrk0yse8cx49cq398z2uaewp3vxzqek5uph0usgsthzvspppqjp7dru
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBdm4xZE1xZXM1T2Q5MXVu
            UkZ1RlJ6RVNJcDJKSjVyM3Q2cmQySEl4d1FNCnhKb1dNNDVLWWozV2NKdXpDL3hV
            N3VPdVMrZXlnQU90bnVRaktRWTBpOFUKLS0tIG9ub0RwMEt3clFtL3ZvQVhBTWpa
            M0VHOTFiSHVyTUNmU1o4bHVkUTlseW8KPHvqhpbgliPbAbvaciiG5yCPipX/Yuog
            C44ALeoCGY51BlgHNOTI12CjAa6l2A4GZEEihJkVJz5gqsR7mu0dKg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-28T16:14:53Z"
    mac: ENC[AES256_GCM,data:wy9JRZ+G5wIquhnpeAaFw0IIqmFrowRPmtQjZGbD3JSXawh42KcpIew9KAJJ+7Fm+4Ce4o8u4MUuNgtH/vRtem2p3eF3+EybpV7cp0NxOGG7Lsh5eqG6X9KsUShuWFpOuiJpsESJP7PaZ6W7k8ClaWK7Gbp2PuZxqccd+qwUKZE=,iv:Jp7LyGJFf7YaL3S1HYRCDvMGaOVv6RheaKJiHfvaJKM=,tag:Ew5KkO+8lcicTDsslk4gvQ==,type:str]
    encrypted_regex: ^(DB_PASSWORD)$
    version: 3.10.2
