apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: csi-driver-nfs
  namespace: csi-driver-nfs
spec:
  interval: 300m
  url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts