apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: talos-media-volume
  namespace: servarr
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 2000Gi
  storageClassName: omv-nfs-retain
