apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: audiobookshelf
  namespace: servarr 
spec:
  interval: 1h0m0s
  chart:
    spec:
      chart: audiobookshelf 
      sourceRef:
        kind: HelmRepository
        name: truecharts 
  values:
      enabled: true
      operator:
        register: false
        verify:
          enabled: true
          additionalsystem: []
      metrics:
        main:
          enabled: false
      ingress:
        audiobookshelf-ing:
          enabled: true
          primary: true
          required: true
          expandObjectName: false
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-cloudflare
            ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16,100.124.0.0/16,10.244.0.0/16 
            nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16,100.124.0.0/16,10.244.0.0/16
          ingressClassName: nginx
          hosts:
            - host: audiobookshelf.media.fonzdm.xyz
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - audiobookshelf.media.fonzdm.xyz
              secretName: audiobookshelf-ing-external-secret
          integrations:
            certManager:
              enabled: false
            traefik:
              enabled: false
      persistence:
        config:
          enabled: true
          type: pvc
          size: 500Mi
          accessModes: ReadWriteMany
          storageClass: omv-nfs-delete
          targetSelector:
            main:
              main:
                mountPath: /config
        metadata:
          enabled: false
        audiobooks:
          enabled: true
          type: pvc
          existingClaim: talos-media-volume
          targetSelector:
            main:
              main:
                mountPath: /mnt/media
