apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
    name: flaresolverr
    namespace: servarr
spec:
    interval: 1h0m0s
    chart:
        spec:
            chart: flaresolverr
            sourceRef:
                kind: HelmRepository
                name: truecharts
    values:
        image:
          repository: ghcr.io/thephaseless/byparr
          tag: latest
        gluetunImage:
            repository: qmcgaw/gluetun
            tag: latest
            pullPolicy: IfNotPresent
        addons:
            gluetun:
                enabled: false
                killSwitch: false
                container:
                    env:
                        FIREWALL_OUTBOUND_SUBNETS: 192.168.0.0/16,10.244.0.0/16,10.96.0.0/12
                        UPDATER_PERIOD: 2h
                        HEALTH_VPN_DURATION_INITIAL: 90s
                        DOT: "on"
                        DNS_UPSTREAM_RESOLVERS: cloudflare,opendns
                        DNS_SERVER: "on"
                        DNS_KEEP_NAMESERVER: "off"
                        VPN_SERVICE_PROVIDER: protonvpn
                        OPENVPN_USER: ENC[AES256_GCM,data:gGl9yRbeyqTgAonxhohotlcru4d9PjBL,iv:7RPtyecIGofjydGCE/jbCHhWOFFlD8cjn4D70Tu+8gU=,tag:N6V7vDZFF74OddwW3TQZkg==,type:str]
                        OPENVPN_PASSWORD: ENC[AES256_GCM,data:qyPm1F9ZeM6hnHjLCcI0Z5QLI+kLMrW9,iv:dYK6LIuPtY+45iJSCg2DMpXG7V4BeXGSyXJhz6TBtjY=,tag:RlUhb0TGySpqHaFI8BLE4g==,type:str]
                        SERVER_COUNTRIES: Switzerland
                        FREE_ONLY: false
        operator:
            register: false
            verify:
                enabled: true
                additionalsystem: []
        metrics:
            main:
                enabled: false
        persistence:
            config:
                enabled: true
                type: pvc
                size: 500Mi
                accessModes: ReadWriteMany
                storageClass: omv-nfs-delete
                targetSelector:
                    main:
                        main:
                            mountPath: /config
sops:
    age:
        - recipient: age1fcyhrk0yse8cx49cq398z2uaewp3vxzqek5uph0usgsthzvspppqjp7dru
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAxd1h5dmZHaVZSTVRNUUxy
            Mkl3MGZOL2pjbFF5Sk1Tem8zYnVSdXcyL3hZClJmeDQ0QW9CbWtzelVWWVVHOXUr
            U00xV3VrOUpYY0I3RDc5Q3dRamJkbzAKLS0tIHppc0N6MGhuN2h4Y082aFM1a2Yv
            ajQvRzVjQmk3RTYrUjJxQXgzZmxNeHMKV9EQUsA3oJoBTcMSeQ7jyF+6QHIPFv71
            mICCtyO9hJeGJN2X+xfhSelQEqvgsLUpEdUkoY7ryuECsC0RzTC4kA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-03T18:16:16Z"
    mac: ENC[AES256_GCM,data:HAdDdDHTADDQyndQmcWdmaeTJCeD8ZvUyd2FWExlzWleYsgtbUFz+P+boauYryehCdLyz756eDuCxyfElPjQAdsxM3brvZraPfMIB1Mfb+Jvw5NnD1FPyg6YG6Hi7x8dr0x1yRHLZaojHB4q1mJNDVtDKJmPDsJkGU4PNNFMqfI=,iv:4nsbD5Y6bngFNmuw800Vxj8nGdA34TmqFrDlqa12XIk=,tag:p0u+GqGtbWLzdsM2ft2QOw==,type:str]
    encrypted_regex: ^(OPENVPN_PASSWORD|OPENVPN_USER)$
    version: 3.10.2
