apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: flaresolverr 
  namespace: servarr 
spec:
  interval: 1h0m0s
  chart:
    spec:
      chart: flaresolverr
      sourceRef:
        kind: HelmRepository
        name: truecharts 
  values:
    gluetunImage:
        repository: qmcgaw/gluetun
        tag: latest
        pullPolicy: IfNotPresent
    addons:
        gluetun:
            enabled: true
            killSwitch: false
            container:
                env:
                    FIREWALL_OUTBOUND_SUBNETS: 192.168.0.0/16,10.244.0.0/16,10.96.0.0/12
                    UPDATER_PERIOD: 2h
                    HEALTH_VPN_DURATION_INITIAL: 90s
                    DOT: "on"
                    DNS_UPSTREAM_RESOLVERS: "cloudflare,opendns"
                    DNS_SERVER: on
                    DNS_KEEP_NAMESERVER: "off"
                    VPN_SERVICE_PROVIDER: protonvpn
                    OPENVPN_USER: ENC[AES256_GCM,data:Iup/4MnQp3g74fpg8obt4NmOg2ETfEJA,iv:DBYMmb/mAaWGULAGUJSTIZIPi0ZevRd+pyrfT7CI9PY=,tag:kKj58ED8DCN2UYnRw1q7cA==,type:str]
                    OPENVPN_PASSWORD: ENC[AES256_GCM,data:KO/9Adjo0upjbsdkU7natXvzHPTeqnWY,iv:r55GoDtXaqpCxiruKvWhROaBDq05f+6n38NGAaCqvYA=,tag:ZDrlEkNyy32y9161jw+tGw==,type:str]
                    SERVER_COUNTRIES: Switzerland
                    FREE_ONLY: false
    operator:
      register: false
      verify:
        enabled: true
        additionalsystem: []
    metrics:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: pvc
        size: 500Mi
        accessModes: ReadWriteMany
        storageClass: omv-nfs-delete
        targetSelector:
          main:
            main:
              mountPath: /config
