apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: servarr
spec:
  interval: 1h0m0s
  chart:
    spec:
      chart: jellyfin
      sourceRef:
        kind: HelmRepository
        name: truecharts
  values:

    metrics:
      main:
        enabled: false
    ingress:
      jellyfin-ing:
        enabled: true
        primary: true
        required: true
        expandObjectName: false
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-cloudflare
          ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16,100.124.0.0/16,10.244.0.0/16 
          nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16,100.124.0.0/16,10.244.0.0/16
        hosts:
        - host: jellyfin.media.fonzdm.xyz
          paths:
          - path: /
            pathType: Prefix
        tls:
        - hosts:
          - jellyfin.media.fonzdm.xyz
          secretName: jellyfin-ing-external-secret
        integrations:
          certManager:
            enabled: false
          traefik:
            enabled: false
    workload:
      main:
        podSpec:
          containers:
            main:
              resources:
                limits:
                  cpu: 0 # unlimited
                  memory: 7Gi
              env:
                JELLYFIN_DATA_DIR: /data
                JELLYFIN_CONFIG_DIR: /config
                JELLYFIN_LOG_DIR: /logs
                JELLYFIN_CACHE_DIR: /cache
                JELLYFIN_PublishedServerUrl: ""
    persistence:
      config:
        enabled: true
        type: pvc
        size: 20Gi
        accessModes: ReadWriteMany
        storageClass: omv-nfs-delete
        targetSelector:
          main:
            main:
              mountPath: /config
      logs:
        enabled: true
        mountPath: "/logs"
        type: "emptyDir"
      cache:
        enabled: true
        mountPath: "/cache"
        type: "emptyDir"
      data:
        enabled: true
        mountPath: "/data"
      transcode:
        enabled: true
        mountPath: "/cache/transcodes"
        type: "emptyDir"
      media:
        enabled: true
        type: pvc
        existingClaim: talos-media-volume
        targetSelector:
          main:
            main:
              mountPath: /mnt/media

